version: '2'

services:
  cmall-api:
    build: ./
    image: 容器镜像地址
    container_name: 名称
    restart: always
    environment:
      MYSQL_DSN: "..."
      ...环境变量
    ports:
      - 3002:3000
    depends_on:
      - redis
      - mysql
  mysql:
    container_name: mysql
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ...
      MYSQL_DATABASE: ...
    volumes:
      - 容器卷名:/var/lib/mysql/data
    ports:
      - "3306:3306"
  redis:
    container_name: redis
    image: redis
    restart: always
    volumes:
      - 容器卷名:/data
    ports:
      - "6379:6379"